@charset "UTF-8";
html {
  font-size: 20px;
}

body {
  background-color: #AA998A;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 75px;
  box-sizing: border-box;
}

.ly-cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .ly-cont {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

p {
  line-height: 1;
}

li {
  list-style: none;
}

.header {
  background-color: #EADFCA;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  width: 100%;
}
@media screen and (max-width: 860px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 20px auto;
    height: 90px;
  }
}
.header a {
  color: #AA998A;
}
.header .header-logo {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 860px) {
  .header .header-logo {
    font-size: 1rem;
  }
}
.header .gnav {
  font-size: 1rem;
}
@media screen and (max-width: 860px) {
  .header .gnav {
    font-size: 0.8rem;
    margin: 0 20px;
  }
}
.header .gnav__list {
  display: flex;
}
.header .gnav__list__item {
  display: inline-block;
  transition: 0.3s;
}
.header .gnav__list__item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 860px) {
  .header .gnav__list__item:not(:last-child) {
    margin-right: 10px;
  }
}
.header .gnav__list__item a {
  position: relative;
}
.header .gnav__list__item a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  transition: 0.3s;
  transform: translateX(-50%);
  background-color: #9EC3BC;
}
.header .gnav__list__item a:hover:after {
  width: 100%;
}

.mv {
  background-color: #EADFCA;
  width: 100%;
  height: 600px;
  /*配置*/
  text-align: center;
  /*位置決め*/
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 860px) {
  .mv {
    height: 400px;
  }
}
.mv__img {
  /*配置*/
  text-align: center;
}
.mv__img__item {
  height: 600px;
  /*位置決め*/
  position: relative;
}
@media screen and (max-width: 860px) {
  .mv__img__item {
    height: 350px;
    margin: 0 5%;
  }
}
.mv__img__item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px 20px #EADFCA;
}
.mv__img__item img {
  height: 99%;
  width: 99%;
}
@media screen and (max-width: 860px) {
  .mv__img__item img {
    height: 350px;
  }
}
.mv__text {
  color: #EADFCA;
  width: 650px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 10;
}
@media screen and (max-width: 860px) {
  .mv__text {
    width: 90%;
    top: 150px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .mv__text {
    top: 150px;
    left: 50%;
    transform: translateY(-50%) translateX(-10%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}
.mv__text__concept {
  display: block;
  width: auto;
  margin: 20px;
  text-shadow: 0.1em 0.1em 0.1em #9EC3BC;
  font-size: 2.4rem;
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #e6cd8c 70%);
}
@media screen and (max-width: 860px) {
  .mv__text__concept {
    font-size: 1.2rem;
  }
}
.mv__text img {
  height: 250px;
  border-radius: 50%;
}
@media screen and (max-width: 860px) {
  .mv__text img {
    height: 150px;
  }
}

.sec {
  /*余白*/
  padding: 60px 0;
}
@media screen and (max-width: 600px) {
  .sec {
    padding: 40px 0;
  }
}
.sec:nth-of-type(odd) {
  background-color: #9EC3BC;
}

.sec-title {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1;
  /*余白*/
  margin-bottom: 40px;
  /*配置*/
  text-align: center;
  /*文字下破線*/
  display: inline-block;
  padding: 0 2em 20px;
  background-image: repeating-linear-gradient(90deg, #e6cd8c 0px, #e6cd8c 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 20px);
  background-size: 20px 4px;
  background-repeat: repeat-x;
  background-position: center bottom;
}
@media screen and (max-width: 600px) {
  .sec-title {
    font-size: 1.2rem;
    padding: 0 2em 10px;
    background-size: 20px 2px;
  }
}

.works .sec-title, .works p, .works a {
  color: #EADFCA;
}
.works .works-list {
  /*配置*/
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  /*余白*/
  margin-bottom: -40px;
}
@media screen and (max-width: 600px) {
  .works .works-list {
    /*配置*/
    flex-direction: column;
    text-align: center;
    /*余白*/
    margin-bottom: 0px;
  }
}
.works .works-list__item {
  width: calc(33.3333333333% - 20px); /*3分割*/
  /*余白*/
  margin: 0 10px 40px 10px;
  /*左列外側余白不要*/
  /*右列外側余白不要*/
  /*サムネイル*/
  /*Webサイト名*/
  /*Webサイト説明*/
}
@media screen and (max-width: 600px) {
  .works .works-list__item {
    width: 100%;
    /*余白*/
    margin: 0 0 20px 0;
  }
}
.works .works-list__item:nth-child(3n+1) {
  margin-left: 0;
}
.works .works-list__item:nth-child(3n) {
  margin-right: 0;
}
.works .works-list__item__img img {
  width: 400px;
  height: 250px;
}
.works .works-list__item__name {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  /*余白*/
  margin-top: 10px;
}
.works .works-list__item__info {
  font-size: 1rem;
  /*余白*/
  margin-top: 5px;
}

/*スキル*/
.skills .sec-title, .skills h3, .skills p, .skills a {
  color: #EADFCA;
}
.skills .skill-text {
  font-weight: bold;
  /*余白*/
  margin-bottom: 40px;
}
.skills .skill-list {
  /*配置*/
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*余白*/
  margin-bottom: -40px;
}
@media screen and (max-width: 600px) {
  .skills .skill-list {
    /*配置*/
    flex-direction: column;
    /*余白*/
    margin-bottom: 0px;
  }
}
.skills .skill-list__item {
  /*配置*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(33.3333333333% - 40px); /*３分割-余白*/
  /*余白*/
  margin: 0 20px 40px 20px;
  /*左列余白なし*/
  /*右列余白なし*/
  /*スキルアイコン*/
}
@media screen and (max-width: 600px) {
  .skills .skill-list__item {
    width: 100%;
    /*余白*/
    margin: 0 0 30px 0;
  }
}
.skills .skill-list__item:nth-child(3n+1) {
  margin-left: 0;
}
.skills .skill-list__item:nth-child(3n) {
  margin-right: 0;
}
.skills .skill-list__item__img {
  width: 60px;
  height: auto;
  /*余白*/
  margin-right: 20px;
}
.skills .skill-list__item__info {
  flex: 1; /*スキルアイコンのサイズを統一*/
}
.skills .skill-list__item__info__name {
  font-size: 1rem;
  /*余白*/
  margin-bottom: 10px;
}
.skills .skill-list__item__info__text {
  font-size: 1rem;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .skills .skill-list__item__info__text {
    font-size: 0.8rem;
  }
}
.skills .other-skills {
  /*余白*/
  margin-top: 40px;
}

/*プロフィール*/
.about {
  /*年表*/
}
.about .sec-title, .about p, .about a {
  color: #EADFCA;
}
.about .profile {
  /*配置*/
  text-align: center;
}
.about .profile__img {
  /*自画像形状*/
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  width: 300px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .about .profile__img {
    width: 150px;
  }
}
.about .profile__name {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  /*余白*/
  padding-top: 10px;
}
.about .timeline {
  /*配置*/
  text-align: center;
  /*余白*/
  margin-top: 40px;
}
.about .timeline__list__item {
  font-size: 1rem;
  line-height: 1.8;
  /*配置*/
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*余白*/
  margin-bottom: 20px;
  /*吹き出し*/
}
@media screen and (max-width: 860px) {
  .about .timeline__list__item {
    font-size: 0.8rem;
  }
}
.about .timeline__list__item .date {
  background: #EADFCA;
  font-weight: bold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  /*配置*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.about .timeline__list__item .date p {
  color: #AA998A;
}
.about .timeline__list__item .content {
  background: #AA998A;
  border-radius: 20px;
  font-weight: bold;
  width: 500px;
  /*配置*/
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /*余白*/
  margin-left: 50px;
  padding: 20px;
  /*吹き出し三角用位置決め*/
  position: relative;
  /*吹き出し左三角*/
}
@media screen and (max-width: 860px) {
  .about .timeline__list__item .content {
    width: 70%;
    /*余白*/
    margin-left: 20px;
    padding: 10px;
  }
}
.about .timeline__list__item .content p {
  color: #EADFCA;
  line-height: 1.5rem;
  vertical-align: middle;
}
.about .timeline__list__item .content::before {
  content: "";
  /* borderで三角形を作る */
  border: 10px solid transparent;
  border-right: 12px solid #AA998A;
  /* 配置する */
  position: absolute;
  top: 55%;
  left: -20px;
  margin-top: -15px;
}

/*お問い合わせ*/
.contact {
  /*配置*/
  text-align: center;
}
.contact .sec-title, .contact p, .contact a {
  color: #EADFCA;
}
.contact .contact-btn {
  background: #9EC3BC;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 400px;
  /*配置*/
  display: block;
  text-align: center;
  /*余白*/
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .contact .contact-btn {
    font-size: 1rem;
    width: 300px;
    /*余白*/
    padding: 10px;
  }
}
.contact .lead {
  font-size: 1rem;
  line-height: 1.8;
  /*余白*/
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .contact .lead {
    font-size: 0.8rem;
  }
}
.contact .contact-list p {
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .contact .contact-list p {
    font-size: 0.8rem;
  }
}
.contact .mail-icon {
  color: #EADFCA;
  font-size: 1.4rem;
  /*余白*/
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
  .contact .mail-icon {
    font-size: 1rem;
  }
}
.contact .sns-list {
  margin-top: 20px;
}
.contact .sns-list__icon {
  color: #EADFCA;
  font-size: 1.8rem;
}
@media screen and (max-width: 600px) {
  .contact .sns-list__icon {
    font-size: 1.4rem;
  }
}

.footer {
  padding: 30px;
  background-color: #EADFCA;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .copyright {
  font-size: 0.6rem;
  text-align: center;
  color: #AA998A;
}

/*TOPボタンを右下に固定*/
#page-top {
  /*配置*/
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateX(100px);
  /*ボタンの形状*/
}
#page-top a {
  color: #AA998A;
  background: #EADFCA;
  border: 2px solid #AA998A;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 60px;
  height: 60px;
  /*配置*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}
#page-top a:hover {
  background: #777;
}

/* 左の動き */
#page-top.LeftMove {
  -webkit-animation: LeftAnime 0.5s forwards;
          animation: LeftAnime 0.5s forwards;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 右の動き */
#page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}

@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}

@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}